body, html {height: 100%}
body {margin:0; font-family: 'Roboto Condensed', sans-serif; color:#666;}
.container {max-width:980px; margin:0 auto; position: relative;}
h1 {font-size: 16px}

header {position: relative; z-index: 1000;}
.navbar {margin:0;}
.navbar-collapse {padding: 0}
.navbar-toggle {margin-top: 1.560em}
.navbar-default {background: #e90101; border: none; }
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {background: #e90101; color: #fff;}
.navbar-default .navbar-nav>li>a {color: #fff; text-transform: uppercase;}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {background: #e90101; color: #fff;}
.dropdown-menu{background: #e90101; color: #fff; border:none;}
.dropdown-menu>li>a {color: #fff}


.facebook {display: block; width: 24px; height: 24px; background: url(../images/facebook.png) no-repeat; position: absolute; top:13px; right: 0; text-indent: -9999px }
.logo {text-align: center; color: #fff; margin-top: 20vh;}

/* carousel HOME */
#myCarousel {position: absolute;top: 0;left: 0; width: 100%;}
.carousel, .item, .active {height: 100%;}
.carousel-inner {height: 100%;}
/* Background images are set within the HTML using inline CSS, not here */
.fill {width: 100%; height: 100%; background-position: center; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;}
.imagenslider1{background-image: url(../images/slide1.jpg) !important; height: 100%;}
.imagenslider2{background-image: url(../images/slide2.jpg) !important; height: 100%;}
.imagenslider3{background-image: url(../images/slide3.jpg) !important; height: 100%;}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}